@charset "UTF-8";

.bg-image {
  background-image: url(../../image/coffee-background.jpg);
  height: 500px;
}

.bg2 {
  background: url(../../image/coffee-background.jpg) no-repeat;
  height: 500px;
}

.bg3 {
  background: url(../../image/coffee-background.jpg) no-repeat center/cover;
  height: 500px;
}

.bg4 {
  background: url(../../image/coffee-background.jpg) no-repeat center/contain;
  height: 500px;
}

/*-positionと-sizeは順序を守り、/で区切らないとエラーになってしまう。
backgroundの一括指定をする際は、入力しない項目があると、デフォルトになってしまう。*/